.tela-contatos {
  height: 100vh;
  max-width: 100vw;
}

.section-contatos {
  text-align: center;
  height: auto;
}

body {
  height: auto;
}

.div-botao {
  margin-top: 10rem;
  margin-bottom: 3.2rem;
}

.button-adicionar-contato {
  border: none;
  background: #04C45C;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  padding: 1.5rem 10rem;
}

.contatos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lista-contatos {
  margin-top: 2.4rem;
  background-color: #FFFAFA;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90vw;
  align-items: center;  
  
}

.elemento {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3.2rem;
  width: 90vw;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 14px;
  color: rgba(28, 20, 20, 0.79)
}

.elemento > span {
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-contatos {
  background-color: #F4F0F0;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 3.2rem;
  width: 90vw;
  align-items: center;
}

.header-contatos span {
  font-family: Roboto;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 14px;
  color: #1C1414;
}

.header-contatos span:nth-child(1) {
  margin-left: 10rem;
}

.icons {  
  justify-content: space-between;
}

.icons-delete-editar {
  display: flex;
  gap: 1.6rem;
  padding: 1.6rem;
}


@media (max-width: 768px) {  
  .tela-contatos {
    justify-content: center;
    margin: 0;
  }

  .lista-contatos, .header-contatos {
    width: 90vw;
  }

  .header-contatos {
    background-color: #F4F0F0;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    align-items: flex-start;
  }

  .header-contatos span:nth-child(1) {
    margin-left: 0;
  }
}
